<section class="profileSection">
  <div class="profileDiv">
    <div class="profileChelInfo">
      <span class="avatarka"></span>
      <span class="nameChela">Name</span>
      <span class="emailChela">Email</span>
    </div>
    <div class="statMaybe">
    </div>
    <div class="UprazhneniyaDlyaChela">
    </div>
  </div>
</section>
