<section class="loginForm">
  <div class="formLoginDiv">
    <div class="formTitle">
      <p>Sign Up</p>
      <p>Fast and easy.</p>
    </div>

    <form action="/registration" id="regForm" method="POST" class="marginTop">
      <label class="marginTop" for="">Name</label><br />
      <input
        class="marginTop marginBottom"
        name="username"
        type="text"
        placeholder="Имя"
        required
      /><br />
      <label class="marginTop" for="">Email</label><br />
      <input
        class="marginTop marginBottom"
        name="email"
        type="text"
        placeholder="Эл.адрес"
        required
      /><br />
      <label class="marginTop" for="">Password</label><br />
      <input
        class="marginTop marginBottom"
        name="password"
        type="password"
        placeholder="Пароль"
        required
      /><br />
      <button class="marginTop" type="submit">Регистрация</button><br />
      <button class="marginTop" type="reset">Сбросить</button>

    </form>
  </div>
</section>
