<section class="mainSection">
  <main class="main">
    <div class="motivationLetter">
      <h1>If you want to control yourself - then you should come to us</h1>
    </div>
    <div class="imgMotivationImage">
      <img class="qImg" src="/img/1.jpg" alt="" width="450px" />
      <img class="wImg" src="/img/2.jpg" alt="" width="470px" />
      <img id="photo" class="eImg" src="/img/3.jpg" alt="" width="400px" />
      <img class="rImg" src="/img/4.jpg" alt="" width="530px" />
      <img class="tImg" src="/img/5.jpg" alt="" width="400px" />
    </div>
  </main>
</section>
