<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meal Conctructor</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/header.css" />
  <link rel="stylesheet" href="/stylesheets/login.css" />
  <link rel="stylesheet" href="/stylesheets/admin.css" />
  <link rel="stylesheet" href="/stylesheets/profile.css" />
  <link rel="stylesheet" href="/stylesheets/constructor.css" />

  <link rel="shortcut icon" type="image/jpg" href="/js/favicon.ico" />
  <script defer src="/js/application.js"></script>
      <script defer src="../js/login.js"></script>
    <script defer src="../js/registration.js"></script>
    <script defer src="js/admin.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
  
  {{> header}}
  {{{body}}}
  
</body>
</html>
